#sort {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 20px;
  margin-top: 90px;
}
select {
  padding: 8px 8px;
  line-height: 40px;
  font-size: 15px;
  outline: none;
}
select > option {
  padding: 40px 30px;
  font-size: 18px;
  margin: 20px;
}

/* for The  card whixh is appended by js */

#display {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(20, 450px);
  gap: 30px;
  margin-top: 80px;
  padding: 30px 30px;
}

#display > div {
  width: 100%;
  height: 450px;
  margin-top: 30px;
}
#display img {
  height: 60%;
  width: 100%;
}
h3 {
  margin-left: 10px;
}
#display h4 {
  font-weight: lighter;
  margin-left: 10px;
}
button {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 7px 50px;
  border: none;
}
button:hover {
  cursor: pointer;
  background-color: greenyellow;
}
